<style>
* {
  box-sizing: border-box;
}
h1,h2 {
  
    color: white; 
    text-shadow: 2px 2px 4px #000000
  
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  border-radius: 40%;
}
/* Style the header */
header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  background-color: #f1f1f1;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.button-1: before {
    content: "";
     top: 5px;
    left: 5px;
    width: 20px;
    height: 30px;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1:hover:before {
    transform: translate(4px, 4px);
  
</style>
